---
- name: Verify
  hosts: all
  gather_facts: true
  tasks:
    - name: Check stack directory exists
      ansible.builtin.stat:
        path: /opt/stacks/docker-socket-proxy
      register: stack_dir
      failed_when: not stack_dir.stat.exists

    - name: Check compose file exists
      ansible.builtin.stat:
        path: /opt/stacks/docker-socket-proxy/compose.yaml
      register: compose_file
      failed_when: not compose_file.stat.exists
