# {{ ansible_managed }}
# Pi-hole custom CNAME records

# --- Manual CNAME overrides ---
{% for record in pihole_custom_cname_records | default([]) %}
cname={{ record.cname }},{{ record.target }}
{% endfor %}
