# {{ ansible_managed }}
---
title: {{ control_homepage.title }}
background:
  image: {{ control_homepage.background }}
theme: {{ control_homepage.theme }}
layout:
  Monitoring:
    style: row
    columns: 4
  Management:
    style: row
    columns: 4
  Network:
    style: row
    columns: 4
