# {{ ansible_managed }}
# fail2ban jail configuration

[DEFAULT]
bantime  = {{ target_security.fail2ban.ban_time }}
findtime = {{ target_security.fail2ban.find_time }}
maxretry = {{ target_security.fail2ban.max_retry }}
banaction = ufw

[sshd]
enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = {{ target_security.fail2ban.max_retry }}
bantime  = {{ target_security.fail2ban.ban_time }}
