# {{ ansible_managed }}
[Unit]
Description=Weekly Lynis Security Audit
Requires=lynis-scan.service

[Timer]
OnCalendar=weekly
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
