# {{ ansible_managed }}
DOCKER_STEPCA_INIT_NAME={{ control_step_ca.ca_name }}
DOCKER_STEPCA_INIT_DNS_NAMES=step-ca.{{ target_domain }},{{ target_control_ip }},localhost
DOCKER_STEPCA_INIT_PROVISIONER_NAME={{ control_step_ca.provisioner_name }}
DOCKER_STEPCA_INIT_PASSWORD={{ vault_step_ca_credentials.password }}
