# {{ ansible_managed }}
AUTHENTIK_SECRET_KEY={{ vault_authentik_credentials.secret_key }}
AUTHENTIK_BOOTSTRAP_PASSWORD={{ vault_authentik_credentials.bootstrap_password }}
AUTHENTIK_POSTGRESQL__HOST=authentik-db
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ vault_authentik_credentials.postgres_password }}
AUTHENTIK_REDIS__HOST=authentik-redis
AUTHENTIK_REDIS__PASSWORD={{ vault_authentik_credentials.redis_password }}
