{
  "root": "/home/step/certs/root_ca.crt",
  "federatedRoots": null,
  "crt": "/home/step/certs/intermediate_ca.crt",
  "key": "/home/step/secrets/intermediate_ca_key",
  "address": ":9000",
  "insecureAddress": "",
  "dnsNames": {{ step_ca.dns_names | to_json }},
  "logger": {
    "format": "json"
  },
  "db": {
    "type": "badgerv2",
    "dataSource": "/home/step/db"
  },
  "authority": {
    "provisioners": [
      {
        "type": "JWK",
        "name": "{{ step_ca.provisioner_name }}",
        "encryptedKey": "",
        "claims": {
          "minTLSCertDuration": "{{ step_ca.min_cert_duration }}",
          "maxTLSCertDuration": "{{ step_ca.max_cert_duration }}",
          "defaultTLSCertDuration": "{{ step_ca.default_cert_duration }}"
        }
      },
      {
        "type": "ACME",
        "name": "acme",
        "claims": {
          "minTLSCertDuration": "{{ step_ca.min_cert_duration }}",
          "maxTLSCertDuration": "{{ step_ca.max_cert_duration }}",
          "defaultTLSCertDuration": "{{ step_ca.default_cert_duration }}"
        }
{% if step_ca.acme.require_eab | default(false) %}
        ,
        "options": {
          "eab": {
            "enabled": true
          }
        }
{% endif %}
      }
    ],
    "claims": {
      "minTLSCertDuration": "{{ step_ca.min_cert_duration }}",
      "maxTLSCertDuration": "{{ step_ca.max_cert_duration }}",
      "defaultTLSCertDuration": "{{ step_ca.default_cert_duration }}",
      "disableRenewal": false,
      "allowRenewalAfterExpiry": false
    }
  },
  "tls": {
    "cipherSuites": [
      "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
    ],
    "minVersion": 1.2,
    "maxVersion": 1.3,
    "renegotiation": false
  }
}
