---
- name: Converge
  hosts: all
  become: true
  vars:
    target_domain: "test.local"
    control_uptime_kuma:
      enabled: true
      port: 3001
      version: "1"
    vault_uptime_kuma_credentials:
      username: "admin"
      password: "test-password"
  roles:
    - role: uptime_kuma
