---
- name: Prepare
  hosts: all
  become: true
  tasks:
    - name: Create docker group
      ansible.builtin.group:
        name: docker
        state: present

    - name: Install Docker CLI (for docker group to be meaningful)
      ansible.builtin.apt:
        name: docker.io
        state: present
        update_cache: true
      when: ansible_os_family == "Debian"
