---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: ubuntu-netdata
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks
  inventory:
    host_vars:
      ubuntu-netdata:
        netdata_base_dir: /opt/netdata
        netdata_config_dir: /opt/netdata/config
        netdata_data_dir: /opt/netdata/data
        monitoring:
          netdata:
            enabled: true
            port: 19999
            version: latest
verifier:
  name: testinfra
  options:
    v: 1
