{
  "log-driver": "{{ target_docker.log_driver }}",
  "log-opts": {
    "max-size": "{{ target_docker.log_max_size }}",
    "max-file": "{{ target_docker.log_max_file }}"
  },
  "storage-driver": "{{ target_docker.storage_driver }}",
  "live-restore": {{ target_docker.live_restore | lower }}
}
