---
# UFW Firewall tasks

- name: UFW - Install UFW
  ansible.builtin.apt:
    name: ufw
    state: present
  become: true

- name: UFW - Set default incoming policy
  community.general.ufw:
    direction: incoming
    policy: "{{ security_ufw_default_incoming }}"
  become: true

- name: UFW - Set default outgoing policy
  community.general.ufw:
    direction: outgoing
    policy: "{{ security_ufw_default_outgoing }}"
  become: true

- name: UFW - Allow SSH (always)
  community.general.ufw:
    rule: allow
    port: "{{ security_ssh_port }}"
    proto: tcp
    comment: "SSH"
  become: true

- name: UFW - Apply default rules
  community.general.ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
    proto: "{{ item.proto | default('tcp') }}"
    comment: "{{ item.comment | default('') }}"
  become: true
  loop: "{{ security_ufw_rules }}"
  when: item.port != security_ssh_port | string

- name: UFW - Apply extra rules
  community.general.ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
    proto: "{{ item.proto | default('tcp') }}"
    from_ip: "{{ item.from_ip | default('any') }}"
    comment: "{{ item.comment | default('') }}"
  become: true
  loop: "{{ security_ufw_extra_rules }}"
  when: security_ufw_extra_rules | length > 0

- name: UFW - Allow common service ports
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto | default('tcp') }}"
    comment: "{{ item.comment }}"
  become: true
  loop:
    - { port: "80", proto: "tcp", comment: "HTTP" }
    - { port: "443", proto: "tcp", comment: "HTTPS" }
  when: security_ufw_allow_web | default(true)

- name: UFW - Enable firewall
  community.general.ufw:
    state: enabled
  become: true

- name: UFW - Get status
  ansible.builtin.command: ufw status verbose
  register: ufw_status
  changed_when: false
  become: true

- name: UFW - Display status
  ansible.builtin.debug:
    msg: "{{ ufw_status.stdout_lines }}"
