# {{ ansible_managed }}
# CPU alarm thresholds

alarm: cpu_usage_warning
   on: system.cpu
   lookup: average -5m percentage foreach user,system,softirq,irq
   units: %
   every: 1m
   warn: $this > {{ target_netdata.alarms.cpu_warning }}
   crit: $this > {{ target_netdata.alarms.cpu_critical }}
   info: CPU utilization alarm
