# {{ ansible_managed }}
# Disk alarm thresholds

alarm: disk_space_warning
   on: disk.space
   lookup: average -5m percentage of used
   units: %
   every: 1m
   warn: $this > {{ target_netdata.alarms.disk_warning }}
   crit: $this > {{ target_netdata.alarms.disk_critical }}
   info: Disk space utilization alarm
