# RAM health alarms
# Managed by Ansible - Server Helper

alarm: ram_usage
    on: system.ram
lookup: average -3m percentage of used
 units: %
 every: 1m
  warn: $this > {{ netdata_alarm_ram_threshold }}
  crit: $this > 98
 delay: down 5m multiplier 1.5 max 1h
  info: RAM utilization over the last 3 minutes
    to: sysadmin

alarm: ram_available
    on: mem.available
lookup: average -3m of avail
 units: MiB
 every: 1m
  warn: $this < 256
  crit: $this < 128
 delay: down 5m multiplier 1.5 max 1h
  info: Available RAM memory
    to: sysadmin
