# {{ ansible_managed }}
# RAM alarm thresholds

alarm: ram_usage_warning
   on: system.ram
   lookup: average -5m percentage of used
   units: %
   every: 1m
   warn: $this > {{ target_netdata.alarms.ram_warning }}
   crit: $this > {{ target_netdata.alarms.ram_critical }}
   info: RAM utilization alarm
