---
# Docker role handlers

- name: Restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
    daemon_reload: true
  become: true

- name: Reload docker
  ansible.builtin.systemd:
    name: docker
    state: reloaded
  become: true
