---
- name: Converge
  hosts: all
  become: true
  vars:
    target_domain: "test.local"
    target_dockge:
      enabled: true
      port: 5001
      version: "1"
    vault_dockge_credentials:
      username: "admin"
      password: "test-password"
  roles:
    - role: dockge
