---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: ubuntu-dockge
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks
  inventory:
    host_vars:
      ubuntu-dockge:
        dockge_base_dir: /opt/dockge
        dockge_stacks_dir: /opt/dockge/stacks
        dockge_data_dir: /opt/dockge/data
        dockge:
          port: 5001
          version: latest
verifier:
  name: testinfra
  options:
    v: 1
