---
- name: Prepare
  hosts: all
  become: true
  tasks:
    - name: Create docker group
      ansible.builtin.group:
        name: docker
        state: present

    - name: Install Docker and compose plugin
      ansible.builtin.apt:
        name:
          - docker.io
          - docker-compose-v2
        state: present
        update_cache: true
      when: ansible_os_family == "Debian"
