# {{ ansible_managed }}
[Unit]
Description=Restic backup verification
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restic-verify.sh
Nice=19
IOSchedulingClass=idle
