# Restic environment variables
# Managed by Ansible - Server Helper
# WARNING: Contains sensitive credentials - mode 0600

export RESTIC_REPOSITORY="{{ restic_repository }}"
export RESTIC_PASSWORD="{{ restic_password }}"
{% if restic_aws_access_key_id %}
export AWS_ACCESS_KEY_ID="{{ restic_aws_access_key_id }}"
{% endif %}
{% if restic_aws_secret_access_key %}
export AWS_SECRET_ACCESS_KEY="{{ restic_aws_secret_access_key }}"
{% endif %}
