# {{ ansible_managed }}
# Restic environment variables

RESTIC_PASSWORD="{{ vault_restic_credentials.password }}"

{% if target_restic.destinations.local.enabled %}
RESTIC_REPOSITORY="{{ target_restic.destinations.local.path }}"
{% elif target_restic.destinations.s3.enabled %}
RESTIC_REPOSITORY="s3:{{ target_restic.destinations.s3.endpoint }}/{{ target_restic.destinations.s3.bucket }}"
AWS_ACCESS_KEY_ID="{{ vault_aws_credentials.access_key }}"
AWS_SECRET_ACCESS_KEY="{{ vault_aws_credentials.secret_key }}"
AWS_DEFAULT_REGION="{{ target_restic.destinations.s3.region }}"
{% elif target_restic.destinations.nas.enabled %}
RESTIC_REPOSITORY="{{ target_restic.destinations.nas.mount_point }}/{{ inventory_hostname }}"
{% endif %}
