# {{ ansible_managed }}
[Unit]
Description=Restic Backup Timer
Requires=restic-backup.service

[Timer]
{{ target_restic.schedule }}
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
