# {{ ansible_managed }}
[Unit]
Description=Restic Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/restic.env
ExecStart=/usr/local/bin/restic-backup.sh
StandardOutput=journal
StandardError=journal
Nice=10
IOSchedulingClass=idle
