# {{ ansible_managed }}
[Unit]
Description=Restic Repository Check Timer
Requires=restic-check.service

[Timer]
{{ target_restic.check_schedule }}
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
