# {{ ansible_managed }}
[Unit]
Description=Restic Repository Check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/restic.env
ExecStart=/usr/local/bin/restic-check.sh
StandardOutput=journal
StandardError=journal
Nice=19
IOSchedulingClass=idle
