---
- name: Converge
  hosts: all
  become: true
  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
      changed_when: false

  tasks:
    - name: "Include security role"
      include_role:
        name: "security"
