---
dependency:
  name: galaxy
  options:
    requirements-file: molecule/default/requirements.yml
driver:
  name: docker
platforms:
  - name: ubuntu-security
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks
  inventory:
    host_vars:
      ubuntu-security:
        security:
          basic_hardening: true
          fail2ban:
            enabled: true
          ufw:
            enabled: false  # Disable UFW in containers
          ssh_hardening: true
        dockge:
          port: 5001
        monitoring:
          netdata:
            port: 19999
          uptime_kuma:
            port: 3001
verifier:
  name: testinfra
  options:
    v: 1
