---
# Prepare for security role test
- name: Prepare
  hosts: all
  become: true
  tasks:
    - name: Install openssh-server
      ansible.builtin.apt:
        name: openssh-server
        state: present
        update_cache: true
      when: ansible_os_family == "Debian"

    - name: Create sshd privilege separation directory
      ansible.builtin.file:
        path: /run/sshd
        state: directory
        mode: "0755"
        owner: root
        group: root
