# {{ ansible_managed }}
GF_SECURITY_ADMIN_PASSWORD={{ vault_grafana_credentials.admin_password }}
GF_SECURITY_SECRET_KEY={{ vault_grafana_credentials.secret_key }}
GF_INSTALL_PLUGINS={{ control_grafana.plugins | join(',') }}
GF_SERVER_ROOT_URL=https://grafana.{{ target_domain }}
GF_SERVER_DOMAIN=grafana.{{ target_domain }}
{% if vault_grafana_oidc.client_id %}
GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME=Authentik
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ vault_grafana_oidc.client_id }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ vault_grafana_oidc.client_secret }}
GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email
GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://auth.{{ target_domain }}/application/o/authorize/
GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://auth.{{ target_domain }}/application/o/token/
GF_AUTH_GENERIC_OAUTH_API_URL=https://auth.{{ target_domain }}/application/o/userinfo/
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
{% endif %}
