# {{ ansible_managed }}
[server]
root_url = https://grafana.{{ target_domain }}
domain = grafana.{{ target_domain }}

[security]
admin_user = admin
cookie_secure = true
strict_transport_security = true

[users]
allow_sign_up = false

[auth]
disable_login_form = false

[analytics]
reporting_enabled = false
check_for_updates = false

[log]
mode = console
level = info
