---
- name: Converge
  hosts: all
  become: true
  vars:
    restic_enabled: true
    target_restic:
      enabled: true
      schedule: "0 2 * * *"
      retention:
        keep_last: 7
        keep_daily: 7
        keep_weekly: 4
        keep_monthly: 6
        keep_yearly: 1
      destinations:
        local:
          enabled: true
          path: /opt/backups/restic
        nas:
          enabled: false
    vault_restic_passwords:
      local: "test-password"
      nas: "test-password"
  roles:
    - role: ../../../restic
