[Unit]
Description=Lynis Security Scan Timer
Documentation=https://cisofy.com/lynis/
Requires=lynis-scan.service

[Timer]
# Run weekly on {{ lynis.schedule }}
OnCalendar={{ lynis.schedule }}

# Run on boot if missed
Persistent=true

# Randomize start time by up to 1 hour
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
