[Unit]
Description=Netdata Health Check Timer
Documentation=https://github.com/thelasttenno/Server-Helper

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ netdata.alarms.check_interval_minutes | default(5) }}min
AccuracySec=1min

[Install]
WantedBy=timers.target
