# {{ ansible_managed }}
# Netdata environment variables
{% if target_netdata.claim_enabled | default(false) %}
NETDATA_CLAIM_TOKEN={{ vault_netdata_credentials.claim_token }}
NETDATA_CLAIM_ROOMS={{ vault_netdata_credentials.claim_room }}
NETDATA_CLAIM_URL=https://app.netdata.cloud
{% endif %}
