---
# Prepare for docker role test
# Note: We do NOT pre-install Docker here since we're testing the Docker installation itself
- name: Prepare
  hosts: all
  become: true
  tasks:
    - name: Create docker group
      ansible.builtin.group:
        name: docker
        state: present

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
      when: ansible_os_family == "Debian"
