---
dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
driver:
  name: docker
platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2404-ansible
    pre_build_image: true
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock
    cgroupns_mode: host
    command: /lib/systemd/systemd
provisioner:
  name: ansible
  playbooks:
    converge: converge.yml
    verify: verify.yml
  inventory:
    host_vars:
      instance:
        target_domain: "test.local"
        control_node_ip: "192.168.1.1"
        control_grafana:
          enabled: true
          port: 3000
          version: "latest"
          oidc_enabled: false
        vault_control_grafana_password: "test-password"
verifier:
  name: ansible
