---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: ubuntu-common
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks
  inventory:
    host_vars:
      ubuntu-common:
        hostname: test-server
        timezone: UTC
        locale: en_US.UTF-8
        virtualization:
          qemu_guest_agent: false
        logging:
          retention_days: 7
verifier:
  name: testinfra
  options:
    v: 1
