---
- name: Verify
  hosts: all
  gather_facts: true
  tasks:
    - name: Check common packages are installed
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      check_mode: true
      register: pkg_check
      failed_when: pkg_check.changed
      loop:
        - curl
        - wget
        - htop
        - vim
        - git
        - jq

    - name: Check chrony is installed
      ansible.builtin.package:
        name: chrony
        state: present
      check_mode: true
      register: chrony_check
      failed_when: chrony_check.changed

    # Note: sysctl tuning is disabled in molecule tests (doesn't work in Docker)
    # Skipping sysctl config verification
