---
control_dns:
  enabled: true
  pihole_version: "latest"
  pihole_port: 8053
  dns_port: 53
  unbound_version: "latest"
  dnssec: true
pihole_custom_dns_records: []
pihole_custom_cname_records: []
