# {{ ansible_managed }}
services:
  dockge:
    image: louislam/dockge:{{ target_dockge.version }}
    container_name: dockge
    restart: unless-stopped
    ports:
      - "{{ target_dockge.port }}:5001"
    environment:
      DOCKGE_STACKS_DIR: /opt/stacks
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dockge-data:/app/data
      - {{ docker_stack_path }}:{{ docker_stack_path }}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5001"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  dockge-data:
